@page "/Game/{GameId}/{CreatorGuid?}"

@using BluffGame.Exceptions
@using BluffGame.Models

@inject NavigationManager Navigation
@inject IConfiguration _config

<h3>Game</h3>

<p>Game id: @GameId, status @_game.Status, is_creator: @_isCreator</p>

<a href="/Help">Help</a>

@if (_isCreator)
{
    <p>
        <button @onclick="FinishGame">Finish game and see stats</button>
        <button @onclick="DeleteGame">Delete game</button>
    </p>
}

<p><a href="/Game/@GameId">Game code: @GameId</a></p>
<p><img src="@_qrCodeUrl" alt="/Game/@GameId" style="height: 200px;" /></p>


@if (_exception is not null)
{
    <p>Exception happened:</p>
    <p>@_exception.ToString()</p>
}
else if (_username is null || !_game.Users.ContainsKey(_username))
{
    <p><input type="text" @bind="_username" placeholder="Enter username" /></p>
    <p><button @onclick="SubmitUsername">Submit username</button></p>
}
else if (_isCreator && _game.Status is GameStatus.WaitingForCreator or GameStatus.WaitingForPlayers)
{
    <p>Joined @_game.Users.Count (@(string.Join(", ", _game.Users.Keys)))</p>
    <p>Waiting for others to join</p>
    <button @onclick="StartGame">Start game</button>
}
else if (_game.Status == GameStatus.WaitingForPlayers)
{
    <p>Joined @_game.Users.Count (@(string.Join(", ", _game.Users.Keys)))</p>
    <p>Waiting for others to join</p>
}
else if (_game.Status == GameStatus.Playing)
{
    <p>Playing round @_game.Rounds.Count</p>
    
    @if (_game.Rounds.Count > 1)
    {
        <ul>
            <li>
                Your guess rate: @Math.Round(_game.GetUserGuessRate(_username), 2);
            </li>
            <li>
                @_game.WhosValueAmIGuessing(_username)'s guess rate: @Math.Round(_game.GetUserGuessRate(_game.WhosValueAmIGuessing(_username)!), 2);
            </li>
            <li>
                Your lie rate: @Math.Round(_game.GetUserLieRate(_username), 2);
            </li>
            @if (_game.GetUserLieRate(_username) <= _config.GetSection("maxLieCountToShowOpponentsOne").Get<double>())
            {
                <li>
                    @_game.WhosValueAmIGuessing(_username)'s lie rate: @Math.Round(_game.GetUserLieRate(_game.WhosValueAmIGuessing(_username)!), 2);
                </li>
            }
            else
            {
                <li>You lie too much to see @_game.WhosValueAmIGuessing(_username)'s lie rate;</li>
            }
        </ul>
    }
    
    @if (_game.TryFindDidIWinInPreviousRound(_username, out var win))
    {
        <p>I won in prev round: @(win)</p>
    }
    
    <p>Some information</p>
    
    @if (_game.HaveIWished(_username) && _game.HaveIAnswered(_username))
    {
        <p>You voted. Waiting for others to vote.</p>
    }
    else
    {
        
        if (!_game.HaveIAnswered(_username))
        {
            <p>@_game.WhosValueAmIGuessing(_username) asked: @_game.Rounds[^2].Question.Question</p>
            @if (_game.TryGetMyHint(_username, out var hint))
            {
                <p>You even have a hint: the hint is @(hint ? _game.Rounds[^2].Question.Option1 : _game.Rounds[^2].Question.Option2)</p>
            }
            <p>
                @* They wished *@
                <button disabled="@_myAnswer" onclick="@(() => { _myAnswer = true; })">@_game.Rounds[^2].Question.Option1</button>
                <button disabled="@(!_myAnswer)" onclick="@(() => { _myAnswer = false; })">@_game.Rounds[^2].Question.Option2</button>
                <button @onclick="Answer">Submit</button> @* todo here *@
            </p>
        }
        
        if (!_game.HaveIWished(_username) && _answered)
        {
            
            <p>@_game.Rounds.Last().Question.Question (@_game.WhoAmIGuessingFor(_username) will answer)</p>
            <p>
                @* I wish *@
                <button disabled="@_myWish" onclick="@(() => { _myWish = true; })">@_game.Rounds.Last().Question.Option1</button>
                <button disabled="@(!_myWish)" onclick="@(() => { _myWish = false; })">@_game.Rounds.Last().Question.Option2</button>
            </p>
            <p>
                <button disabled="@(_myWishShowHint && _myWishHint)" onclick="@(() => { _myWishShowHint = true; _myWishHint = true; })">Hint: @_game.Rounds.Last().Question.Option1</button>
                <button disabled="@(!_myWishShowHint)" onclick="@(() => { _myWishShowHint = false; })">No hint</button>
                <button disabled="@(_myWishShowHint && !_myWishHint)" onclick="@(() => { _myWishShowHint = true; _myWishHint = false; })">Hint: @_game.Rounds.Last().Question.Option2</button>
            </p>
            <p>
                <button @onclick="Wish">Submit</button>
            </p>
        }

    }
}
else if (_game.Status == GameStatus.Finished)
{
    @if (_stats is null)
    {
        <p>Too little statistics to show</p>
    }
    else
    {
        <div>
            <h3>Users by guess rate:</h3>
            <ol>
                @foreach (var (username, rate) in _stats.GuessRates)
                {
                    <li>@username: @Math.Round(rate, 2)</li>
                }
            </ol>
        </div>
        <div>
            <h3>Users by lie rate:</h3>
            <ol>
                @foreach (var (username, rate) in _stats.LieRates)
                {
                    <li>@username: @Math.Round(rate, 2)</li>
                }
            </ol>
        </div>
        <div>
            <h3>Couples by guess rate:</h3>
            <ol>
                @foreach (var (who, toWhom, rate) in _stats.GuessCouplesRates)
                {
                    <li>@who → @toWhom: @Math.Round(rate, 2)</li>
                }
            </ol>
        </div>
        <div>
            <h3>Couples by lie rate:</h3>
            <ol>
                @foreach (var (who, toWhom, rate) in _stats.LieCouplesRates)
                {
                    <li>@who → @toWhom: @Math.Round(rate, 2)</li>
                }
            </ol>
        </div>
    }
}
else
{
    <p>Some error happened</p>
}

<br />
<br />
<p>HashCode: @GetHashCode()</p>


@code {
    [Parameter]
    public string GameId { get; init; }
    [Parameter]
    public string? CreatorGuid { get; init; }

    private Game _game;
    private GameStats? _stats;

    private string? _username = null;
    private bool _isCreator = false;

    private string _qrCodeUrl;

    private Exception? _exception = null;

    private bool _myAnswer = false;
    private bool _myWish = false;
    private bool _myWishShowHint = true;
    private bool _myWishHint = false;

    private bool _answered = true;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (!Game.Games.TryGetValue(GameId, out _game!))
        {
            _exception = new Exception("The game does not exist.");
            return;
        }

        _qrCodeUrl = Helpers.GenerateQRCode(Navigation.BaseUri + "Game/" + GameId);

        if (_game.Status == GameStatus.WaitingForCreator)
        {
            if (CreatorGuid is null || _game.CreatorGuid.ToString() != CreatorGuid)
            {
                _exception = new Exception("Seems like you are not the creator, you cannot join the game right now.");
                return;
            }

            _isCreator = true;
        }
        else if (_game.Status == GameStatus.WaitingForPlayers)
        {
            // Empty?
        }
        else
        {
            _exception = new Exception($"Game is in bad status: {_game.Status}");
            return;
        }
    }
    
    private void SubmitUsername()
    {
        if (string.IsNullOrEmpty(_username)) return;

        if (_game.Users.ContainsKey(_username))
        {
            _exception = new Exception("Username is already taken.");
            return;
        }

        _game.Users[_username] = this;

        if (_isCreator)
        {
            _game.Status = GameStatus.WaitingForPlayers;
        }
        
        UpdateAllPages();
    }

    private void StartGame()
    {
        if (!_isCreator)
        {
            _exception = new Exception("You cannot run game");
            return;
        }

        _game.NewRound();
        _game.Status = GameStatus.Playing;
        UpdateAllPages();
    }

    private Task UpdateAllPages()
    {
        var tasks = _game.Users.Values.Select(x => x.InvokeAsync(x.StateHasChanged));
        return Task.WhenAll(tasks);
    }

    private void DeleteGame()
    {
        if (!_isCreator)
        {
            _exception = new Exception("You cannot run game");
            return;
        }

        Game.Games.Remove(GameId);
        UpdateAllPages();
    }
    private void FinishGame()
    {
        if (!_isCreator)
        {
            _exception = new Exception("You cannot run game");
            return;
        }

        _game.Status = GameStatus.Finished;

        _stats = _game.GetStatistics();
        
        UpdateAllPages();
    }

    private void Answer()
    {
        _game.AnswerValue(_username!, _myAnswer);
        _myAnswer = false;
        _answered = true;
        MakeNewRoundIfNeeded();
    }
    private void Wish()
    {
        bool? hint = _myWishShowHint ? _myWishHint : null;
        _game.WishValue(_username!, _myWish, hint);
        _myWish = false;
        _myWishHint = false;
        _myWishShowHint = true;
        _answered = false;
        MakeNewRoundIfNeeded();
    }

    private void MakeNewRoundIfNeeded()
    {
        if (!WeNeedNewRound()) return;

        _game.NewRound();
        UpdateAllPages();
    }

    private bool WeNeedNewRound()
    {
        if (!_game.Rounds.Any()) throw new NoRoundsException();

        if (_game.Rounds.Count == 1)
        {
            return _game.Rounds.Last().AllWished;
        }

        return _game.Rounds.Last().AllWished && _game.Rounds[^2].AllAnswered;
    }

}
