@page "/Game/{GameId}/{CreatorGuid?}"

@using BluffGame.Exceptions
@using BluffGame.Models

@inject NavigationManager Navigation

<h3>Game</h3>

<p>Game guid: @GameId, status @game.Status, is_creator: @_isCreator</p>

<a href="/Help">Help</a>

@if (_isCreator)
{
    <p><button @onclick="DeleteGame">Delete game</button></p>
}

<p><a href="/Game/@GameId">Link to game: /Game/@GameId</a></p>
<p><img src="@_qrCodeUrl" alt="/Game/@GameId" style="height: 200px;" /></p>


@if (_exception is not null)
{
    <p>Exception happened:</p>
    <p>@_exception.ToString()</p>
}
else if (_username is null || !game.Users.ContainsKey(_username))
{
    <p><input type="text" @bind="_username" placeholder="Enter username" /></p>
    <p><button @onclick="SubmitUsername">Submit username</button></p>
}
else if (_isCreator && game.Status is GameStatus.WaitingForCreator or GameStatus.WaitingForPlayers)
{
    <p>Joined @game.Users.Count (@(string.Join(", ", game.Users.Keys)))</p>
    <p>Waiting for others to join</p>
    <button @onclick="StartGame">Start game</button>
}
else if (game.Status == GameStatus.WaitingForPlayers)
{
    <p>Joined @game.Users.Count (@(string.Join(", ", game.Users.Keys)))</p>
    <p>Waiting for others to join</p>
}
else if (game.Status == GameStatus.Playing)
{
    <p>Playing round @game.Rounds.Count</p>
    
    @if (game.Rounds.Count > 1)
    {
        <ul>
            <li>
                Your guess rate: @game.GetUserGuessRate(_username);
            </li>
            <li>
                @game.WhosValueAmIGuessing(_username)'s guess rate: @game.GetUserGuessRate(game.WhosValueAmIGuessing(_username)!);
            </li>
            <li>
                Your lie rate: @game.GetUserLieRate(_username);
            </li>
            <li>
                @game.WhosValueAmIGuessing(_username)'s lie rate: @game.GetUserLieRate(game.WhosValueAmIGuessing(_username)!);
            </li>
        </ul>
    }
    
    @if (game.TryFindDidIWinInPreviousRound(_username, out var win))
    {
        <p>I won in prev round: @(win)</p>
    }
    
    <p>Some information</p>
    
    @if (game.HaveIWished(_username) && game.HaveIAnswered(_username))
    {
        <p>You voted. Waiting for others to vote.</p>
    }
    else
    {
        
        if (!game.HaveIAnswered(_username))
        {
            <p>@game.WhosValueAmIGuessing(_username) asked: @game.Rounds[^2].Question.Question</p>
            @if (game.TryGetMyHint(_username, out var hint))
            {
                <p>You even have a hint: the hint is @(hint ? game.Rounds[^2].Question.Option1 : game.Rounds[^2].Question.Option2)</p>
            }
            <p>
                @* They wished *@
                <button disabled="@_myAnswer" onclick="@(() => { _myAnswer = true; })">@game.Rounds[^2].Question.Option1</button>
                <button disabled="@(!_myAnswer)" onclick="@(() => { _myAnswer = false; })">@game.Rounds[^2].Question.Option2</button>
                <button @onclick="Answer">Submit</button> @* todo here *@
            </p>
        }
        
        if (!game.HaveIWished(_username) && _answered)
        {
            
            <p>@game.Rounds.Last().Question.Question (@game.WhoAmIGuessingFor(_username) will answer)</p>
            <p>
                @* I wish *@
                <button disabled="@_myWish" onclick="@(() => { _myWish = true; })">@game.Rounds.Last().Question.Option1</button>
                <button disabled="@(!_myWish)" onclick="@(() => { _myWish = false; })">@game.Rounds.Last().Question.Option2</button>
            </p>
            <p>
                <button disabled="@(_myWishShowHint && _myWishHint)" onclick="@(() => { _myWishShowHint = true; _myWishHint = true; })">Hint: @game.Rounds.Last().Question.Option1</button>
                <button disabled="@(!_myWishShowHint)" onclick="@(() => { _myWishShowHint = false; })">No hint</button>
                <button disabled="@(_myWishShowHint && !_myWishHint)" onclick="@(() => { _myWishShowHint = true; _myWishHint = false; })">Hint: @game.Rounds.Last().Question.Option2</button>
            </p>
            <p>
                <button @onclick="Wish">Submit</button>
            </p>
        }

    }
}
else
{
    <p>Some error happened</p>
}

<br />
<br />
<p>HashCode: @GetHashCode()</p>


@code {
    [Parameter]
    public string GameId { get; init; }
    [Parameter]
    public string? CreatorGuid { get; init; }

    private Game game;

    private string? _username = null;
    private bool _isCreator = false;

    private string _qrCodeUrl;

    private Exception? _exception = null;

    private bool _myAnswer = false;
    private bool _myWish = false;
    private bool _myWishShowHint = true;
    private bool _myWishHint = false;

    private bool _answered = true;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (!Game.Games.TryGetValue(GameId, out game!))
        {
            _exception = new Exception("The game does not exist.");
            return;
        }

        _qrCodeUrl = Helpers.GenerateQRCode(Navigation.BaseUri + "Game/" + GameId);

        if (game.Status == GameStatus.WaitingForCreator)
        {
            if (CreatorGuid is null || game.CreatorGuid.ToString() != CreatorGuid)
            {
                _exception = new Exception("Seems like you are not the creator, you cannot join the game right now.");
                return;
            }

            _isCreator = true;
        }
        else if (game.Status == GameStatus.WaitingForPlayers)
        {
            // Empty?
        }
        else
        {
            _exception = new Exception($"Game is in bad status: {game.Status}");
            return;
        }
    }
    
    private void SubmitUsername()
    {
        if (string.IsNullOrEmpty(_username)) return;

        if (game.Users.ContainsKey(_username))
        {
            _exception = new Exception("Username is already taken.");
            return;
        }

        game.Users[_username] = this;

        if (_isCreator)
        {
            game.Status = GameStatus.WaitingForPlayers;
        }
        
        UpdateAllPages();
    }

    private void StartGame()
    {
        if (!_isCreator)
        {
            _exception = new Exception("You cannot run game");
            return;
        }

        game.NewRound();
        game.Status = GameStatus.Playing;
        UpdateAllPages();
    }

    private Task UpdateAllPages()
    {
        var tasks = game.Users.Values.Select(x => x.InvokeAsync(x.StateHasChanged));
        return Task.WhenAll(tasks);
    }

    private void DeleteGame()
    {
        if (!_isCreator)
        {
            _exception = new Exception("You cannot run game");
            return;
        }

        Game.Games.Remove(GameId);
        UpdateAllPages();
    }

    private void Answer()
    {
        game.AnswerValue(_username!, _myAnswer);
        _myAnswer = false;
        _answered = true;
        MakeNewRoundIfNeeded();
    }
    private void Wish()
    {
        bool? hint = _myWishShowHint ? _myWishHint : null;
        game.WishValue(_username!, _myWish, hint);
        _myWish = false;
        _myWishHint = false;
        _myWishShowHint = true;
        _answered = false;
        MakeNewRoundIfNeeded();
    }

    private void MakeNewRoundIfNeeded()
    {
        if (!WeNeedNewRound()) return;

        game.NewRound();
        UpdateAllPages();
    }

    private bool WeNeedNewRound()
    {
        if (!game.Rounds.Any()) throw new NoRoundsException();

        if (game.Rounds.Count == 1)
        {
            return game.Rounds.Last().AllWished;
        }

        return game.Rounds.Last().AllWished && game.Rounds[^2].AllAnswered;
    }

}
